<style>
 .btn-group button {
  background-color: #9a7366; /* Green background */
  border: 1px solid #372e2b; /* Green border */
  color: white; /* White text */
  padding: 5px ; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  margin-left: 100px;
  margin-right: 50px;
  border-radius: 40px;
  align-items: center;
  font-size: 25px;
  font-family: fantasy;

}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #aa8274;
}
  body {
    background-color: #e1d5d1;
  }

  .navbar.navbar-expand-lg.bg-light {
    background-color: black;
    font: bold;
    color: beige;
  }

  /* .carousel-item {
    position: absolute;
    size: 200px 400px;
  } */
  div.carousel-item {
    position: relative;
    float: left;
    margin: 5px;
  }

  div.carousel-item :hover input {
    display: block;
  }

  div.carousel-item input {
    position: absolute;
    top: 60%;
    left: 60%;
    display: none;
  }

 .carousel{
  padding: 20px 40px;
  margin-right: 20px ;
  margin-left: 20px;
  margin-bottom: 20px;
 }

  .d-flex {
    text-align-last: right;
  }

  #Wishlist {
    text-align: right;
  }

  #Bag {
    text-align: right;
  }

  #navbar {
    position: sticky;
  }
  #navbar::before{
    position: absolute;
  }

  .para{
    font-family: cursive;
    color: #372e2b;
    font-weight: bolder;
    text-align: center;
  }
</style>